{% extends 'base.html' %}

{% block body %}
   
        <h1>{{poll.title}}</h1>
        <br>
        <br>

        <h1><button type="button" class="btn btn-light">{{poll.Q1}}</button></h1>
        <h1><button type="button" class="btn btn-light">{{poll.Q2}}</button></h1>

        <h3><form action="{% url 'polls:comment' poll_id=poll.id %}" method="POST">
            {% csrf_token %}
            {{comment_form}}

            <input type="submit"><br>
            
            
        </form></h3>
        <br>

        <h3><a href="{% url 'polls:game' poll_id=2 %}">NEXT<i class="bi bi-arrow-right-circle"></i></a></h3> 
        <br>
        <br>
        <br>

        
        {% for comment in poll.comment_set.all %}
            <h5>{{comment.content}}</h5>
        {% endfor %}




{% endblock %}
