{% extends 'base.html' %}

{% block body %}
    {% for poll in polls %}
        <p>{{poll.title}}</p>
        <p>{{poll.content}}</p>
        <button type="button" class="btn btn-light">{{poll.Q1}}</button>
        <button type="button" class="btn btn-light">{{poll.Q2}}</button>

        <form action="{% url 'polls:comment' poll_id=poll.id %}" method="POST">
            {% csrf_token %}
            {{comment_form}}
            <input type="submit">
        </form>

        {% for comment in poll.comment_set.all %}
            <p>{{comment.content}}</p>
        {% endfor %}
    {% endfor %}



{% endblock %}
